/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Oswald", sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body,
html {
  background-image: linear-gradient(
    to top,
    #070024 20%,
    #32135a 64%,
    #0c0132 100%
  );
  background-repeat: repeat;
  height: 150vh;
}

/*~~~~~~~~~~~~~~~~End Reset~~~~~~~~~~~~~~~~~ */
/* ~~~~~~~~~~~~~~~~Layout~~~~~~~~~~~~~~~~~~~ */
.large-font {
  font-size: 6vh;
}

.medium-font {
  font-size: 4vh;
}

.small-font {
  font-size: 2vh;
}

ul {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

.rubiks-cube-image {
  height: 3vh;
}

.welcome-user {
  font-size: 8vh;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
  padding: 20px 0px 20px 0px;
}

.graph-wrapper,
.graph-wrapper-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  display: flex;
  width: 20%;
  height: 50vh;
  border: 2px solid #ffffff82;
  border-radius: 28px;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 80px 1px #81abadab;
}

.user-input {
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
}

.activity-card {
  background-color: #0a76db;
}

.hydration-card {
  background-color: #ff4500;
}

.expanded {
  display: flex;
  flex-direction: column;
  width: 34%;
  height: 42vh;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.chart {
  width: 90%;
  height: 80%;
}

.week {
  display: flex;
  flex-direction: row;
  background-color: #ffffff1c;
  border-radius: 10px;
}

.sleep-card {
  background-color: #aa32e2;
}

.user-card {
  background-color: #d11f98;
}

.user-text {
  font-size: 2vh;
  overflow-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px 20px 10px 20px;
}

.card-image {
  margin: 4%;
  height: 8vh;
}

.water-image {
  fill: #414040;
}

.hidden {
  display: none;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  border-radius: 20px;
  background-color: #000000;
  margin: 15% auto;
  padding: 19px;
  border: 1px solid #888;
  width: 66%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
